.u-section-1 .u-sheet-1 {
  min-height: 755px;
}

.u-section-1 .u-icon-1 {
  height: 445px;
  width: 445px;
  margin: -6px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -415px 421px 0 570px;
}

.u-section-1 .u-form-1 {
  height: 293px;
  margin: 55px 0 0 570px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
}

.u-section-1 .u-icon-2 {
  height: 96px;
  width: 96px;
  margin: -118px auto 0 49px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: -318px 330px 0 570px;
}

.u-section-1 .u-icon-3 {
  height: 83px;
  width: 83px;
  margin: 200px auto 60px 316px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    height: 422px;
    width: 422px;
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -397px;
    margin-right: 321px;
    margin-left: 470px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 40px;
    margin-left: 470px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -102px;
    margin-left: 48px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -324px;
    margin-right: 230px;
    margin-left: 470px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 206px;
    margin-left: 303px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1059px;
  }

  .u-section-1 .u-icon-1 {
    height: 329px;
    width: 329px;
    margin-top: -191px;
  }

  .u-section-1 .u-text-1 {
    width: 152px;
    margin-top: 128px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: 63px;
    margin-left: 129px;
    margin-right: 129px;
  }

  .u-section-1 .u-icon-2 {
    height: 59px;
    width: 59px;
    margin-top: -69px;
    margin-left: 43px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -353px;
    margin-left: 240px;
    margin-right: 240px;
  }

  .u-section-1 .u-icon-3 {
    height: 110px;
    width: 110px;
    margin-top: -179px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-1 .u-text-1 {
    width: 149px;
    margin-top: 276px;
    margin-left: 196px;
    margin-right: 196px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: 271px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-3 {
    height: 115px;
    width: 114px;
    margin-top: -194px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 673px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 152px;
    margin-top: 173px;
    margin-left: 96px;
    margin-right: 96px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 62px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -346px;
    margin-right: 19px;
    margin-left: 50px;
  }

  .u-section-1 .u-icon-3 {
    height: 107px;
    width: 107px;
    margin-top: -177px;
    margin-left: 117px;
  }
}