.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 630px;
}

.u-section-1 .u-group-1 {
  width: 615px;
  box-shadow: 2px 2px 8px 5px rgba(128,128,128,0.2);
  animation-duration: 1000ms;
  min-height: 398px;
  margin: 52px auto 0 67px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 40px 40px;
}

.u-section-1 .u-image-1 {
  width: 176px;
  height: 176px;
  margin: -176px auto 0 250px;
}

.u-section-1 .u-icon-1 {
  height: 50px;
  width: 50px;
  margin: -423px auto 0 609px;
}

.u-section-1 .u-icon-2 {
  height: 50px;
  width: 50px;
  margin: -423px auto 0 609px;
}

.u-section-1 .u-icon-3 {
  height: 50px;
  width: 50px;
  margin: -423px auto 0 544px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: -542px 0 0;
}

.u-section-1 .u-icon-5 {
  height: 97px;
  width: 97px;
  background-image: none;
  box-shadow: 3px 0px 26px 1px rgba(0,0,0,0.4);
  animation-duration: 1750ms;
  margin: -69px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 62px 420px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 18px 242px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 18px -3px 0 3px;
}

.u-section-1 .u-icon-6 {
  height: 63px;
  width: 63px;
  background-image: none;
  margin: 33px 0 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.5rem;
  background-image: none;
  margin: -66px auto 0 3px;
  padding: 12px 147px 14px 145px;
}

.u-section-1 .u-image-2 {
  width: 341px;
  height: 341px;
  animation-duration: 1000ms;
  background-image: url("images/mobileport2.png");
  background-position: 50% 50%;
  margin: -414px 31px 0 auto;
}

.u-section-1 .u-icon-7 {
  height: 53px;
  width: 53px;
  background-image: none;
  margin: 20px auto 0 949px;
}

.u-section-1 .u-icon-8 {
  height: 53px;
  width: 53px;
  background-image: none;
  margin: -53px auto 0 1022px;
}

.u-section-1 .u-icon-9 {
  height: 53px;
  width: 53px;
  background-image: none;
  animation-duration: 1000ms;
  margin: -53px auto 0 876px;
}

.u-section-1 .u-icon-10 {
  height: 53px;
  width: 53px;
  background-image: none;
  margin: -53px auto 60px 803px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 756px;
    min-height: 464px;
    margin-top: 262px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -58px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -86px;
    margin-left: 636px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 15px;
    margin-left: 636px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -50px;
    margin-left: 571px;
  }

  .u-section-1 .u-icon-4 {
    height: 50px;
    width: 50px;
    margin-top: -115px;
    margin-right: auto;
    margin-left: 571px;
  }

  .u-section-1 .u-icon-5 {
    height: 108px;
    width: 89px;
    margin-top: -412px;
    margin-right: 381px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 127px;
    margin-right: 560px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-right: 369px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 15px;
    margin-right: 219px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-6 {
    margin-right: 8px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -65px;
    margin-left: 0;
    padding-right: 207px;
    padding-bottom: 13px;
    padding-left: 206px;
  }

  .u-section-1 .u-image-2 {
    width: 163px;
    height: 163px;
    margin-top: -704px;
    margin-right: 203px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: -389px;
    margin-left: 470px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: -740px;
    margin-left: 470px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 470px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 615px;
    margin-top: 131px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -272px;
    margin-right: 0;
    margin-left: 610px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 14px;
    margin-left: 439px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -114px;
    margin-left: 439px;
  }

  .u-section-1 .u-icon-5 {
    height: 137px;
    width: 123px;
    margin-top: -441px;
    margin-right: 441px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 835px;
    margin-right: 534px;
    margin-left: 2px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -72px;
    margin-right: 269px;
    margin-left: 2px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-right: 178px;
    margin-left: 12px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -71px;
    margin-left: 490px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -63px;
    margin-left: 7px;
    padding-bottom: 12px;
    padding-left: 136px;
    padding-right: 136px;
  }

  .u-section-1 .u-image-2 {
    width: 278px;
    height: 278px;
    margin-left: 222px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 360px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 360px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 360px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 530px;
    margin-top: 113px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 20px;
    padding-left: 35px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -208px;
    margin-right: auto;
    margin-left: 362px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -113px;
    margin-left: 362px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 13px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -113px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -423px;
    margin-right: 381px;
    margin-left: 157px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 797px;
    margin-right: 394px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -97px;
    margin-right: 236px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 121px;
    margin-left: -7px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -83px;
    margin-left: 405px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -64px;
    margin-left: -7px;
    padding-top: 11px;
    padding-right: 114px;
    padding-left: 113px;
  }

  .u-section-1 .u-image-2 {
    width: 219px;
    height: 219px;
    margin-top: -688px;
    margin-right: 31px;
    margin-left: 161px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: -308px;
    margin-left: 270px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: -697px;
    margin-left: 270px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 270px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 270px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 174px;
    min-height: 264px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 270px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 270px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -996px;
  }

  .u-section-1 .u-icon-5 {
    height: 84px;
    width: 84px;
    margin-top: -475px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 87px;
    margin-right: 207px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 12px;
    margin-right: 106px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    margin-top: 12px;
    margin-right: 24px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-6 {
    height: 47px;
    width: 47px;
    margin-top: 22px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: -46px;
    margin-left: 0;
    padding: 6px 56px 7px;
  }

  .u-section-1 .u-image-2 {
    width: 168px;
    height: 168px;
    object-position: 50% 100%;
    margin-top: -348px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-7 {
    height: 50px;
    width: 50px;
    margin-top: 235px;
    margin-left: 183px;
  }

  .u-section-1 .u-icon-8 {
    height: 50px;
    width: 50px;
    margin-top: -50px;
    margin-left: 109px;
  }

  .u-section-1 .u-icon-9 {
    height: 50px;
    width: 50px;
    margin-top: -50px;
    margin-left: 255px;
  }

  .u-section-1 .u-icon-10 {
    height: 50px;
    width: 50px;
    margin-top: -50px;
    margin-left: 36px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 807px;
}

.u-section-2 .u-group-1 {
  width: 1033px;
  box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.2);
  min-height: 380px;
  animation-duration: 1000ms;
  margin: 97px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 40px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 0 822px 0 0;
}

.u-section-2 .u-icon-1 {
  height: 121px;
  width: 121px;
  margin: -121px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 41px 545px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 500;
  margin: -224px auto 0 502px;
  padding: 32px 153px 33px 152px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 25px auto 0 502px;
  padding: 30px 182px 32px 181px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    min-height: 475px;
    margin-top: 77px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 729px;
  }

  .u-section-2 .u-icon-1 {
    height: 64px;
    width: 64px;
    margin-top: 337px;
    margin-left: 538px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -360px;
    margin-right: 452px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 20px;
    margin-right: 452px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 452px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 509px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 232px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 232px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 232px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 369px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 476px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 92px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 92px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 92px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    margin-top: 60px;
    min-height: 551px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 29px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-right: auto;
    margin-left: 1px;
  }

  .u-section-2 .u-icon-1 {
    height: 90px;
    width: 90px;
    margin-top: -90px;
    margin-right: -51px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: 53px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 25px;
    margin-right: auto;
    padding: 18px 63px 19px 62px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: -1px;
    padding: 18px 93px 19px 92px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-group-1 {
  width: 934px;
  box-shadow: 2px 2px 8px 5px rgba(102,102,102,0.2);
  min-height: 349px;
  height: auto;
  margin: 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 28px;
}

.u-section-3 .u-icon-1 {
  height: 289px;
  width: 289px;
  background-image: none;
  animation-duration: 1250ms;
  margin: 1px auto 0 0;
}

.u-section-3 .u-group-2 {
  width: 205px;
  min-height: 51px;
  margin: -292px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 10px 6px;
}

.u-section-3 .u-text-1 {
  font-weight: 500;
  font-size: 1.875rem;
  margin: -22px 9px 0;
}

.u-section-3 .u-group-3 {
  width: 268px;
  min-height: 51px;
  margin: -49px 46px 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 10px 6px;
}

.u-section-3 .u-text-2 {
  font-weight: 500;
  font-size: 1.875rem;
  margin: -23px 9px 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 93px 46px 0 334px;
}

.u-section-3 .u-btn-1 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: normal;
  border-style: solid;
  margin: 0 1px 0 auto;
  padding: 16px 37px 17px 35px;
}

.u-section-3 .u-group-4 {
  width: 185px;
  min-height: 51px;
  height: auto;
  margin: -222px auto 0 335px;
}

.u-section-3 .u-container-layout-4 {
  padding: 1px 10px 2px;
}

.u-section-3 .u-text-4 {
  font-weight: 500;
  font-size: 1.875rem;
  width: 126px;
  margin: 7px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-icon-1 {
    margin-top: -537px;
    margin-right: 685px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -148px;
    margin-left: 194px;
  }

  .u-section-3 .u-group-3 {
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -148px;
    margin-left: 194px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: 685px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 205px;
    margin-right: 685px;
    margin-left: 0;
    padding-top: 15px;
  }

  .u-section-3 .u-group-4 {
    margin-top: 0;
    margin-left: 328px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -148px;
    margin-left: 194px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -353px;
    margin-right: 480px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 20px;
    margin-right: 480px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-left: 166px;
  }

  .u-section-3 .u-group-3 {
    margin-top: 20px;
    margin-right: 480px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 166px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 480px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 21px;
    margin-right: 480px;
  }

  .u-section-3 .u-group-4 {
    margin-top: 20px;
    margin-right: 480px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 166px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -802px;
    margin-right: 461px;
  }

  .u-section-3 .u-group-2 {
    margin-right: 315px;
    margin-left: 59px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 128px;
  }

  .u-section-3 .u-group-3 {
    margin-right: 252px;
    margin-left: 59px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 128px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 340px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 427px;
    margin-right: 340px;
  }

  .u-section-3 .u-group-4 {
    margin-right: 315px;
    margin-left: 59px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 128px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    min-height: 418px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-icon-1 {
    height: 122px;
    width: 123px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 4px;
  }

  .u-section-3 .u-group-2 {
    width: 146px;
    min-height: 48px;
    margin-top: -122px;
    margin-right: 5px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 3px;
    padding-left: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 12px;
    margin-right: 4px;
    margin-left: 14px;
  }

  .u-section-3 .u-group-3 {
    width: 296px;
    margin-top: 96px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    width: 158px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 34px;
    margin-right: 27px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: 27px;
    margin-right: auto;
    padding: 12px 79px 12px 78px;
  }

  .u-section-3 .u-group-4 {
    width: 146px;
    margin-top: -294px;
    margin-right: 4px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 0;
    margin-right: 18px;
    margin-left: 28px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 761px;
}

.u-section-4 .u-group-1 {
  width: 936px;
  min-height: 302px;
  box-shadow: 2px 2px 8px 5px rgba(128,128,128,0.2);
  background-image: none;
  height: auto;
  animation-duration: 1000ms;
  margin: 185px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 28px;
}

.u-section-4 .u-icon-1 {
  height: 244px;
  width: 244px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  background-image: none;
  margin: -167px 114px 0 297px;
}

.u-section-4 .u-group-2 {
  width: 256px;
  min-height: 51px;
  height: auto;
  margin: -229px auto 0 297px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0 2px 20px;
}

.u-section-4 .u-text-2 {
  font-weight: 500;
  font-size: 1.875rem;
  margin: -22px 23px 0 3px;
}

.u-section-4 .u-group-3 {
  width: 137px;
  min-height: 51px;
  height: auto;
  margin: -51px 166px 0 auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0 2px 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 500;
  font-size: 1.875rem;
  margin: -23px 17px 0 -13px;
}

.u-section-4 .u-group-4 {
  width: 70px;
  min-height: 70px;
  height: auto;
  margin: 123px 0 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-icon-2 {
  height: 40px;
  width: 40px;
  margin: 15px auto 0;
}

.u-section-4 .u-group-5 {
  width: 268px;
  min-height: 80px;
  height: auto;
  animation-duration: 1000ms;
  margin: 44px 102px 60px auto;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 0 2px;
}

.u-section-4 .u-text-4 {
  font-weight: 500;
  font-size: 1.875rem;
  margin: 23px 73px 0 26px;
}

.u-section-4 .u-btn-1 {
  font-size: 1.875rem;
  padding: 0;
}

.u-section-4 .u-icon-3 {
  height: 25px;
  width: 25px;
  background-image: none;
  margin: -31px 32px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-5 {
    width: 137px;
    margin-top: 0;
    margin-right: 166px;
  }

  .u-section-4 .u-text-4 {
    width: 133px;
    margin-top: -6px;
    margin-right: 17px;
    margin-left: -13px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 20px;
    margin-right: 17px;
    margin-left: -13px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-group-2 {
    margin-left: 0;
  }

  .u-section-4 .u-group-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-group-4 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4 .u-group-1 {
    min-height: 301px;
    margin-top: 213px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 20px 20px 24px;
  }

  .u-section-4 .u-icon-1 {
    height: 124px;
    width: 124px;
    margin-top: 1px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
    margin-top: 31px;
    margin-right: 0;
  }

  .u-section-4 .u-group-2 {
    width: 162px;
    min-height: 48px;
    margin-top: -257px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 22px;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -10px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-4 .u-group-3 {
    width: 107px;
    min-height: 47px;
    margin-top: 14px;
    margin-right: 54px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 11px;
    margin-right: 20px;
    margin-left: 17px;
  }

  .u-section-4 .u-group-4 {
    width: 39px;
    min-height: 39px;
    margin-top: -41px;
    margin-right: -1px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-2 {
    height: 20px;
    width: 20px;
    margin-top: 0;
  }

  .u-section-4 .u-group-5 {
    width: 176px;
    min-height: 53px;
    margin-top: 38px;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 11px;
    margin-right: 49px;
    margin-left: 17px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-icon-3 {
    height: 20px;
    width: 20px;
    margin-top: -22px;
    margin-right: 14px;
    margin-left: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-group-1 {
  width: 500px;
  box-shadow: 2px 2px 8px 5px rgba(128,128,128,0.2);
  animation-duration: 1000ms;
  background-image: none;
  min-height: 347px;
  margin: 199px auto 0 33px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 20px;
}

.u-section-5 .u-text-1 {
  font-weight: 600;
  margin: 0 321px 0 0;
}

.u-section-5 .u-icon-1 {
  height: 100px;
  width: 100px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -100px -63px 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 33px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 22px 0 0 auto;
  padding: 13px 47px 14px;
}

.u-section-5 .u-group-2 {
  width: 500px;
  box-shadow: 2px 2px 8px 5px rgba(128,128,128,0.2);
  animation-duration: 1000ms;
  background-image: none;
  min-height: 347px;
  margin: -347px 33px 60px auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 20px;
}

.u-section-5 .u-text-3 {
  font-weight: 600;
  margin: 0 244px 0 0;
}

.u-section-5 .u-icon-2 {
  height: 100px;
  width: 100px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: -100px -58px 0 auto;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  margin: 34px 0 0;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0 auto;
  padding: 13px 47px 14px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    min-height: 1100px;
    margin-top: 705px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-group-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    min-height: 715px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    min-height: 1083px;
    margin-top: 703px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -128px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 61px;
  }

  .u-section-5 .u-group-2 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-5 .u-group-1 {
    min-height: 394px;
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 161px;
  }

  .u-section-5 .u-icon-1 {
    height: 90px;
    width: 90px;
    margin-top: -75px;
    margin-right: -50px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    margin-top: 27px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 34px;
    margin-left: auto;
  }

  .u-section-5 .u-group-2 {
    margin-top: 121px;
    margin-bottom: 60px;
    min-height: 390px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 84px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 37px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 864px;
}

.u-section-6 .u-group-1 {
  width: 500px;
  box-shadow: 2px 2px 8px 5px rgba(128,128,128,0.2);
  animation-duration: 1000ms;
  background-image: none;
  min-height: 347px;
  margin: 199px auto 0 33px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 20px;
}

.u-section-6 .u-text-1 {
  font-weight: 600;
  margin: 0 234px 0 0;
}

.u-section-6 .u-icon-1 {
  height: 100px;
  width: 100px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: -100px -48px 0 auto;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 33px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 50px 0 0 auto;
  padding: 13px 36px 14px 35px;
}

.u-section-6 .u-group-2 {
  width: 499px;
  box-shadow: 2px 2px 8px 5px rgba(128,128,128,0.2);
  animation-duration: 1000ms;
  background-image: none;
  min-height: 347px;
  margin: -347px 33px 60px auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 20px;
}

.u-section-6 .u-text-3 {
  font-weight: 600;
  margin: 0 247px 0 0;
}

.u-section-6 .u-icon-2 {
  height: 100px;
  width: 100px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: -100px -55px 0 auto;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: 33px 0 0;
}

.u-section-6 .u-btn-2 {
  border-style: solid;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 22px 0 0 auto;
  padding: 13px 47px 14px 46px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    min-height: 714px;
  }

  .u-section-6 .u-group-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    min-height: 347px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    min-height: 714px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1063px;
  }

  .u-section-6 .u-group-1 {
    min-height: 393px;
    margin-top: 41px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 151px;
  }

  .u-section-6 .u-icon-1 {
    height: 90px;
    width: 90px;
    margin-top: -90px;
    margin-right: -56px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
    margin-top: 56px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 43px;
  }

  .u-section-6 .u-group-2 {
    min-height: 390px;
    margin-top: 126px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-right: 58px;
  }

  .u-section-6 .u-icon-2 {
    height: 90px;
    width: 90px;
    margin-top: -90px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: 56px;
    margin-right: -8px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 35px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1670px;
}

.u-section-7 .u-group-1 {
  width: 936px;
  min-height: 302px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  height: auto;
  animation-duration: 1000ms;
  margin: 134px auto 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 28px;
}

.u-section-7 .u-icon-1 {
  height: 240px;
  width: 244px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  margin: -167px 114px 0 297px;
}

.u-section-7 .u-group-2 {
  width: 256px;
  min-height: 51px;
  height: auto;
  margin: -229px auto 0 297px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 0 2px 20px;
}

.u-section-7 .u-text-2 {
  font-weight: 500;
  font-size: 1.875rem;
  margin: -22px 23px 0 3px;
}

.u-section-7 .u-group-3 {
  width: 137px;
  min-height: 51px;
  height: auto;
  margin: -51px 166px 0 auto;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 0 2px 30px;
}

.u-section-7 .u-text-3 {
  font-weight: 500;
  font-size: 1.875rem;
  margin: -23px 20px 0 -10px;
}

.u-section-7 .u-group-4 {
  width: 70px;
  min-height: 70px;
  height: auto;
  margin: 127px 0 0 auto;
}

.u-section-7 .u-container-layout-4 {
  padding: 0;
}

.u-section-7 .u-icon-2 {
  height: 40px;
  width: 40px;
  margin: 15px auto 0;
}

.u-section-7 .u-group-5 {
  width: 936px;
  min-height: 302px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  height: auto;
  animation-duration: 1000ms;
  margin: 120px auto 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 30px 28px;
}

.u-section-7 .u-icon-3 {
  height: 244px;
  width: 244px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.5rem;
  line-height: 38.4px;
  margin: -167px 114px 0 297px;
}

.u-section-7 .u-group-6 {
  width: 256px;
  min-height: 51px;
  height: auto;
  margin: -229px auto 0 297px;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px 0 2px 20px;
}

.u-section-7 .u-text-5 {
  font-weight: 500;
  font-size: 1.875rem;
  margin: -22px 23px 0 3px;
}

.u-section-7 .u-group-7 {
  width: 164px;
  min-height: 51px;
  height: auto;
  margin: -51px 139px 0 auto;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px 0 2px;
}

.u-section-7 .u-text-6 {
  font-weight: 500;
  font-size: 1.875rem;
  width: 124px;
  margin: -23px auto 0;
}

.u-section-7 .u-group-8 {
  width: 70px;
  min-height: 70px;
  height: auto;
  margin: 123px 0 0 auto;
}

.u-section-7 .u-container-layout-8 {
  padding: 0;
}

.u-section-7 .u-icon-4 {
  height: 40px;
  width: 40px;
  margin: 15px auto 0;
}

.u-section-7 .u-group-9 {
  width: 936px;
  min-height: 306px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  height: auto;
  animation-duration: 1000ms;
  margin: 120px auto 60px;
}

.u-section-7 .u-container-layout-9 {
  padding: 30px;
}

.u-section-7 .u-icon-5 {
  height: 244px;
  width: 244px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-7 {
  font-size: 1.5rem;
  margin: -167px 114px 0 297px;
}

.u-section-7 .u-group-10 {
  width: 256px;
  min-height: 51px;
  height: auto;
  margin: -229px auto 0 297px;
}

.u-section-7 .u-container-layout-10 {
  padding: 30px 0 2px 20px;
}

.u-section-7 .u-text-8 {
  font-weight: 500;
  font-size: 1.875rem;
  margin: -22px 23px 0 3px;
}

.u-section-7 .u-group-11 {
  width: 195px;
  min-height: 51px;
  height: auto;
  margin: -51px 108px 0 auto;
}

.u-section-7 .u-container-layout-11 {
  padding: 7px 0 0;
}

.u-section-7 .u-text-9 {
  font-weight: 500;
  font-size: 1.875rem;
  margin: 0 18px;
}

.u-section-7 .u-group-12 {
  width: 70px;
  min-height: 70px;
  height: auto;
  margin: 124px 0 0 auto;
}

.u-section-7 .u-container-layout-12 {
  padding: 0;
}

.u-section-7 .u-icon-6 {
  height: 40px;
  width: 40px;
  margin: 15px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    background-position: 50% 44.61%;
    background-size: 115%;
    margin-left: 176px;
  }

  .u-section-7 .u-icon-1 {
    height: 249px;
    margin-top: -30px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 0;
  }

  .u-section-7 .u-group-2 {
    margin-top: 0;
  }

  .u-section-7 .u-text-2 {
    margin-top: -148px;
    margin-left: 194px;
  }

  .u-section-7 .u-group-3 {
    margin-top: 0;
  }

  .u-section-7 .u-text-3 {
    margin-top: -148px;
    margin-left: 194px;
  }

  .u-section-7 .u-group-4 {
    width: 137px;
    margin-top: 0;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-7 .u-group-5 {
    background-position: 50% 44.61%;
    background-size: 115%;
    margin-left: 176px;
  }

  .u-section-7 .u-icon-3 {
    height: 249px;
    margin-top: -30px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 0;
  }

  .u-section-7 .u-group-6 {
    margin-top: 0;
  }

  .u-section-7 .u-text-5 {
    margin-top: -148px;
    margin-left: 194px;
  }

  .u-section-7 .u-group-7 {
    margin-top: 0;
  }

  .u-section-7 .u-text-6 {
    margin-top: -148px;
    margin-left: 194px;
  }

  .u-section-7 .u-group-8 {
    width: 137px;
    margin-top: 0;
  }

  .u-section-7 .u-icon-4 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-7 .u-group-9 {
    background-position: 50% 44.61%;
    background-size: 115%;
    margin-left: 176px;
  }

  .u-section-7 .u-icon-5 {
    height: 249px;
    margin-top: -30px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 0;
  }

  .u-section-7 .u-group-10 {
    margin-top: 0;
  }

  .u-section-7 .u-text-8 {
    margin-top: -148px;
    margin-left: 194px;
  }

  .u-section-7 .u-group-11 {
    margin-top: 0;
  }

  .u-section-7 .u-text-9 {
    margin-top: -148px;
    margin-left: 194px;
  }

  .u-section-7 .u-group-12 {
    width: 137px;
    margin-top: 0;
  }

  .u-section-7 .u-icon-6 {
    margin-top: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-7 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-group-2 {
    margin-top: -229px;
    margin-left: 189px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 166px;
  }

  .u-section-7 .u-group-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 189px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 166px;
  }

  .u-section-7 .u-group-4 {
    margin-top: 30px;
    margin-right: auto;
    margin-left: 189px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 138px;
  }

  .u-section-7 .u-group-5 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-7 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-7 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-group-6 {
    margin-top: -229px;
    margin-left: 189px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 166px;
  }

  .u-section-7 .u-group-7 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 189px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 166px;
  }

  .u-section-7 .u-group-8 {
    margin-top: 30px;
    margin-right: auto;
    margin-left: 189px;
  }

  .u-section-7 .u-icon-4 {
    margin-top: 138px;
  }

  .u-section-7 .u-group-9 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-7 .u-icon-5 {
    margin-top: 0;
  }

  .u-section-7 .u-text-7 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-group-10 {
    margin-top: -229px;
    margin-left: 189px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 166px;
  }

  .u-section-7 .u-group-11 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 189px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 166px;
  }

  .u-section-7 .u-group-12 {
    margin-top: 30px;
    margin-right: auto;
    margin-left: 189px;
  }

  .u-section-7 .u-icon-6 {
    margin-top: 138px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 128px;
  }

  .u-section-7 .u-group-2 {
    margin-left: 55px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 128px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 128px;
  }

  .u-section-7 .u-group-5 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 128px;
  }

  .u-section-7 .u-group-6 {
    margin-left: 55px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 128px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 128px;
  }

  .u-section-7 .u-group-9 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 128px;
  }

  .u-section-7 .u-group-10 {
    margin-left: 55px;
  }

  .u-section-7 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 128px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 128px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 3315px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 80px;
  }

  .u-section-7 .u-group-2 {
    margin-top: 20px;
    margin-left: 80px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 80px;
  }

  .u-section-7 .u-group-3 {
    margin-left: 64px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 80px;
  }

  .u-section-7 .u-group-4 {
    margin-left: 64px;
  }

  .u-section-7 .u-group-5 {
    min-height: 258px;
    margin-top: 129px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-5 {
    padding: 15px;
  }

  .u-section-7 .u-icon-3 {
    height: 80px;
    width: 78px;
  }

  .u-section-7 .u-text-4 {
    font-size: 1rem;
    line-height: 1.2;
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-group-6 {
    width: 110px;
    min-height: 29px;
    margin-top: -174px;
    margin-right: 77px;
    margin-left: auto;
  }

  .u-section-7 .u-container-layout-6 {
    padding: 5px;
  }

  .u-section-7 .u-text-5 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 0;
    margin-right: 9px;
    margin-left: 7px;
  }

  .u-section-7 .u-group-7 {
    width: 69px;
    min-height: 29px;
    margin-top: -29px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-text-6 {
    font-size: 0.75rem;
    width: 50px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-7 .u-group-8 {
    width: 30px;
    min-height: 30px;
    margin-top: 125px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-container-layout-8 {
    padding-top: 8px;
  }

  .u-section-7 .u-icon-4 {
    height: 15px;
    width: 15px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-7 .u-group-9 {
    width: 340px;
    margin-top: 847px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 80px;
  }

  .u-section-7 .u-group-10 {
    margin-top: 20px;
    margin-left: 80px;
  }

  .u-section-7 .u-text-8 {
    font-size: 1.5rem;
    margin-left: 80px;
  }

  .u-section-7 .u-group-11 {
    margin-left: 64px;
  }

  .u-section-7 .u-text-9 {
    font-size: 1.5rem;
    margin-left: 80px;
  }

  .u-section-7 .u-group-12 {
    margin-left: 64px;
  }
}