.u-section-1 .u-sheet-1 {
  min-height: 508px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 84px 439px 0 594px;
}

.u-section-1 .u-icon-1 {
  height: 448px;
  width: 448px;
  margin: -123px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: -309px 387px 0 594px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  margin: 16px 123px 0 594px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 32px auto 0 594px;
  padding: 20px 134px 20px 133px;
}

.u-section-1 .u-icon-2 {
  height: 140px;
  width: 140px;
  margin: -321px 201px 0 auto;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 199px 35px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 16px 32px 1022px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 118px;
    margin-right: 360px;
    margin-left: 510px;
  }

  .u-section-1 .u-icon-1 {
    height: 435px;
    width: 435px;
    margin-top: -151px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -268px;
    margin-right: 298px;
    margin-left: 510px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
    margin-right: 102px;
    margin-left: 510px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 29px;
    margin-right: 11px;
    margin-left: auto;
    padding-right: 88px;
    padding-left: 87px;
  }

  .u-section-1 .u-icon-2 {
    height: 143px;
    width: 142px;
    margin-top: -309px;
    margin-right: 129px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 173px;
    margin-right: 17px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-bottom: 60px;
    margin-left: 841px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 60px;
    margin-right: 295px;
    margin-left: 373px;
  }

  .u-section-1 .u-icon-1 {
    height: 335px;
    width: 335px;
    margin-top: -86px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -238px;
    margin-right: 246px;
    margin-left: 373px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 11px;
    margin-right: 69px;
    margin-left: 373px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 25px;
    margin-right: 14px;
    padding: 17px 45px 17px 44px;
  }

  .u-section-1 .u-icon-2 {
    height: 124px;
    width: 124px;
    margin-top: -275px;
    margin-right: 84px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 176px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 615px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 119px;
    margin-right: 193px;
    margin-left: 299px;
  }

  .u-section-1 .u-icon-1 {
    height: 258px;
    width: 258px;
    margin-top: -81px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -165px;
    margin-right: 161px;
    margin-left: 299px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-right: 31px;
    margin-left: 299px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: 18px;
    margin-right: auto;
    margin-left: 299px;
    padding: 1px 18px;
  }

  .u-section-1 .u-icon-2 {
    height: 100px;
    width: 100px;
    margin-top: -199px;
    margin-right: 41px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 116px;
    margin-right: 23px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 430px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1398px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 320px;
    margin-right: 233px;
    margin-left: 54px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -346px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 99px;
    margin-right: 204px;
    margin-left: 54px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 13px;
    margin-right: 71px;
    margin-left: 54px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 15px;
    margin-left: auto;
    padding: 4px 32px 4px 31px;
  }

  .u-section-1 .u-icon-2 {
    height: 79px;
    width: 79px;
    margin-top: -177px;
    margin-right: 100px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 114px;
    margin-right: 22px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 232px;
  }
}